---
interface Props {
    name: string;
    description: string;
    images: string[];
    featured?: boolean;
}

const {name, description, images, featured = false} = Astro.props;
---

<div class="hover-3d">
    <div class="card w-100 bg-base-100 shadow-sm">
        <div class="card-body">
            <div class="flex justify-between">
                <h2 class="text-sans-title text-3xl text-primary font-bold">{name}</h2>
            </div>

            <figure class="hover-gallery max-w">
                <img src="https://img.daisyui.com/images/stock/daisyui-hat-1.webp" alt="https://img.daisyui.com/images/stock/daisyui-hat-1.webp"/>
                <img src="https://img.daisyui.com/images/stock/daisyui-hat-2.webp" alt="https://img.daisyui.com/images/stock/daisyui-hat-2.webp"/>
                <img src="https://img.daisyui.com/images/stock/daisyui-hat-3.webp" alt="https://img.daisyui.com/images/stock/daisyui-hat-3.webp"/>
                <img src="https://img.daisyui.com/images/stock/daisyui-hat-4.webp" alt="https://img.daisyui.com/images/stock/daisyui-hat-4.webp"/>
            </figure>

            <div class="mt-4">
                <p>{description}</p>
                <div class="mt-6">
                    <button class="btn btn-outline btn-primary btn-block">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
