---
interface Props {
    name: string;
    description: string;
    images: string[];
    featured?: boolean;
}

const {name, description, images, featured = false} = Astro.props;
---

<div class="card w-full bg-base-100 shadow-[0_4px_14px_rgba(44,62,80,0.4)]">
    <div class="card-body p-4 md:p-6 lg:p-8">
        <div class="flex justify-between mb-2">
            <h2 class="text-sans-title text-lg md:text-xl lg:text-2xl text-primary font-bold">{name}</h2>
        </div>
        <div class="w-full  hidden lg:grid">
            <figure class="hover-gallery rounded-box shadow-sm">
                <img src="https://img.daisyui.com/images/stock/daisyui-hat-1.webp" alt="Hat 1"/>
                <img src="https://img.daisyui.com/images/stock/daisyui-hat-2.webp" alt="Hat 2"/>
                <img src="https://img.daisyui.com/images/stock/daisyui-hat-3.webp" alt="Hat 3"/>
                <img src="https://img.daisyui.com/images/stock/daisyui-hat-4.webp" alt="Hat 4"/>
            </figure>
        </div>

        <div class="carousel carousel-center rounded-box p-4 lg:hidden">
            <div class="carousel-item w-full ">
                <img
                        src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp"
                        class="rounded-box h-100" alt="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp"/>
            </div>

            <div class="carousel-item w-full">
                <img
                        src="https://img.daisyui.com/images/stock/daisyui-hat-4.webp"
                        class="rounded-box h-100" alt="https://img.daisyui.com/images/stock/daisyui-hat-4.webp"/>
            </div>

            <div class="carousel-item w-full">
                <img
                        src="https://img.daisyui.com/images/stock/daisyui-hat-3.webp"
                        class="rounded-box h-100" alt="https://img.daisyui.com/images/stock/daisyui-hat-3.webp"/>
            </div>

            <div class="carousel-item w-full">
                <img
                        src="https://img.daisyui.com/images/stock/daisyui-hat-4.webp"
                        class="rounded-box h-100" alt="https://img.daisyui.com/images/stock/daisyui-hat-4.webp"/>
            </div>

        </div>

        <div class="mt-2">
            <div class="divider h-px bg-gradient-to-r from-transparent via-primary/90 to-transparent"></div>
            <p class="text-sm md:text-base ps-3">{description}</p>

            <div class="flex w-full">
                <div class="mt-4 md:mt-6 flex gap-2 md:gap-3">
                    <button class="btn btn-sm md:btn-md btn-outline btn-primary">.</button>
                    <button class="btn btn-sm md:btn-md btn-outline btn-primary">.</button>
                    <button class="btn btn-sm md:btn-md btn-outline btn-primary">.</button>
                </div>
                <div class="w-full mt-4 md:mt-6 flex justify-end">
                    <button class="btn btn-sm md:btn-md btn-primary">Info</button>
                </div>
            </div>

            <button class="btn btn-sm md:btn-md btn-outline btn-primary btn-block mt-3 md:mt-4">Correo</button>
        </div>
    </div>
</div>
