---
import {business} from "../data/business";
import ServiceCard from "./childComponents/ServiceCard.astro";
import Title from "./childComponents/Title.astro";
---

<section
        id="servicios"
        class="py-10 bg-latorre-background"
        aria-labelledby="servicios-titulo"
>
    <div class="container mx-auto px-4">
        <Title text="Nuestros servicios" id="servicios-titulo"/>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 md:gap-8 mx-auto">
            {business.services.map((servicio) => (
                    <ServiceCard
                            name={servicio.name}
                            description={servicio.description}
                            images={servicio.images}
                    />
            ))}
        </div>
    </div>
</section>
